/* Home page specific styles */

/* Stats section */
.stats-container + .stats-container {
    margin-top: 2rem;
}

/* News section */
.news-item .btn {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    font-size: 0.8rem;
}

/* Contact section */
.contact p {
    font-size: 25px;
} 